<section class="banner_area">
    <div class="banner_inner d-flex align-items-center">
        <div class="overlay bg-parallax" data-stellar-ratio="0.9" data-stellar-vertical-offset="0"
             data-background=""></div>
        <div class="container">
            <div class="banner_content text-center">
                <h2>Каузи</h2>
                <p>
                    Това са нашите каузи ,по които работим в момента. <br>
                    Ако искаш да помогнеш,
                    можеш да дариш или да купиш продукт. <br>
                    Печалбата от продажбата на продукта ще бъде използвана в посочената от теб кауза.
                </p>
            </div>
        </div>
    </div>
</section>

<section class="features_causes">
    <div class="container">
        <div class="main_title">
            <h2>Настоящи каузи</h2>
            <p>
                Вие можете да помогнете сега. <br>
                Просто дарете или купете избраният от вас продукт.
            </p>
            <div class="text-center">
                <a href="/cause/completed" class="primary_btn">Изпълнени каузи</a>
            </div>

        </div>

        <div class="row">
            {{#each causes}}
                <div class="col-lg-4 col-md-6">
                    <div class="card">
                        <div class="card-body">
                            <figure class="fix-size-image">
							<a href="/cause/details/{{_id}}">
                                <img class="card-img-top img-fluid"
                                     src="data:{{image.contentType}};base64,{{image.data}}" alt="Снимка на каузата">
							</a>
                            </figure>
                            <div class="card_inner_body">
                                <h4 class="card-title">{{name}}</h4>
                                <div class="d-flex justify-content-between raised_goal">
                                    <p>Събрани: {{raised}} лв</p>
                                    <p><span>Нужни: {{goal}} лв</span></p>
                                </div>
                                <div class="d-flex justify-content-between donation align-items-center">
                                    <a href="/cause/donate/{{_id}}" class="primary_btn">дари</a>
                                    {{#if ../isAdmin}}
                                        <a href="/cause/delete/{{_id}}" class="primary_btn">изтрий</a>
                                        <a href="/cause/edit/{{_id}}" class="primary_btn">редактирай</a>
                                    {{/if}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {{/each}}
        </div>
    </div>
</section>