<section class="banner_area">
    <div class="banner_inner d-flex align-items-center">
        <div class="overlay bg-parallax" data-stellar-ratio="0.9" data-stellar-vertical-offset="0"
             data-background=""></div>
        <div class="container">
            <div class="banner_content text-center">
                <h2>Изпълнени каузи</h2>
                <p>Това са каузите , които успяхме да изпълним с Вашата помощ.</p>
                <p>Успяхме да направим много хора щастливи!</p>
                <div class="text-center">
                    <a href="/cause/all" class="primary_btn">Настоящи каузи</a>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="features_causes">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6">
                {{#each causes}}
                    <div class="card">
                        <div class="card-body">
                            <figure>
                                <img class="card-img-top img-fluid" src="data:{{this.image.contentType}};base64,{{this.image.data}}" alt="Снимка на каузата">
                            </figure>
                            <div class="card_inner_body">
                                <h4 class="card-title">{{name}}</h4>
                                <p class="card-text">{{description}}</p>
                                <div class="d-flex justify-content-between raised_goal">
                                    <p>Събрани: {{raised}} лв</p>
                                </div>
                            </div>
                            <div class="d-flex justify-content-between donation align-items-center">
                                {{#if ../isAdmin}}
                                    <a href="/cause/delete/{{this._id}}" class="primary_btn">Изтрий</a>
                                {{/if}}
                            </div>
                        </div>
                    </div>
                {{/each}}
            </div>
        </div>
    </div>
</section>