<div class="wrapper fadeInDown" id="add-product-from">
    <div id="formContent">
        <h2 class="active">Добавяне на продукт за даряване!</h2>

        <form method="post" enctype="multipart/form-data">
            <input type="text" class="fadeIn second" name="name" value="{{name}}" placeholder="Име" required>
            <textarea type="text" class="fadeIn third" name="description" placeholder="Описание">{{description}}</textarea>
            <input type="number" class="fadeIn third" name="price" value="{{price}}" placeholder="Цена" step="0.1" min="0" required>
            <select class="fadeIn third" name="category" id="category" required>
               {{#each categories}}
                      {{# if isSelected}}
                          <option selected value="{{_id}}">{{name}}</option>
                      {{else}}
                          <option value="{{_id}}">{{name}}</option>
                      {{/if}}
               {{/each}}
            </select>
            <select class="fadeIn third" name="cause" id="cause" required>
                {{#each causes}}
                    {{#if isSelected}}
                        <option selected value="{{_id}}">{{name}}</option>
                    {{else}}
                        <option value="{{_id}}">{{name}}</option>
                    {{/if}}
                {{/each}}
            </select>
            <input id="file" type="file"  name="image" accept=".jpg,.jpeg,.png" required>
            <label for="file" class="fadeIn third">Изберете снимка</label>
            <input type="submit" class="fadeIn fourth" value="Добави">
        </form>
    </div>
</div>