<div class="wrapper fadeInDown" id="add-product-from">
    <div id="formContent">
        <h2 class="active">Изтриване на продукт!</h2>

        <figure class="responsive-figure figure-fix-height">
            <img class="responsive-img" src="data:{{product.image.contentType}};base64,{{product.image.data}}" alt="Product image">
        </figure>

        <form method="post" enctype="multipart/form-data">
            <input type="text" class="fadeIn second" name="name" value="{{product.name}}" disabled>
            <textarea type="text" class="fadeIn third" name="description">{{product.description}} disabled</textarea>
            <input type="number" class="fadeIn third" name="price" value="{{product.price}}" disabled step="0.1" min="0">
            <input type="submit" class="fadeIn fourth" value="Изтрий">
        </form>
    </div>
</div>