<script src="/frontend/controllers/postController.js"></script>

<article class="post-details">
    <h2>{{title}}</h2>
    <p>{{content}}</p>
    <div class="post-info">
        <h4><span>Category</span>: {{category.name}}</h4>
        <p>
            <i class="fas fa-user-circle"></i>
            {{creator}}
        </p>
        <p>
            <i class="fas fa-calendar-day"></i>
            {{date}}
        </p>
        <div>
            {{#if user}}
                {{#if isLiked}}
                    <button data-post="{{_id}}" data-index="0" id="dislike-0" class="dislike">
                        <i class="fas fa-thumbs-down"></i>
                    </button>
                    <button data-post="{{_id}}" style="display: none;" data-index="0" id="like-0" class="like">
                        <i class="fas fa-thumbs-up"></i>
                    </button>
                {{else}}
                    <button data-post="{{_id}}" style="display: none;" data-index="0" id="dislike-0" class="dislike">
                        <i class="fas fa-thumbs-down"></i>
                    </button>
                    <button data-post="{{_id}}" data-index="0" id="like-0" class="like">
                        <i class="fas fa-thumbs-up"></i>
                    </button>
                {{/if}}
            {{/if}}
            <span class="likes">Likes</span>:
            <span data-index="0" id="likesCount-0" class="likesCount">{{likesCount}}</span>
        </div>
		{{#if isCreator}}
			<div id="author-buttons">
				<a href="/blog/post/edit/{{_id}}" class="btn btn-success">Редактиране</a>
				<a href="/blog/post/delete/{{_id}}" class="btn btn-danger">Изтриване</a>
			</div>
		{{/if}}
        <form method="post" id="add-comment" action="/blog/comment/add/{{_id}}">
            <input name="content" class="form-control" type="text" placeholder="Съдържание на коментара">
            <input type="hidden" id="postId" value="{{_id}}">
            <input type="submit" value="Коментиране">
        </form>
    </div>
</article>
<div id="comments">
    {{#each userComments}}
        <article>
            {{#if isAuthor}}
                <button class="remove-comment" data-id="{{id}}">
                    <i class="fas fa-trash-alt"></i>
                </button>
            {{/if}}
            <span><i class="fas fa-user-circle"></i> {{authorName}}</span>
            <p>{{content}}</p>
        </article>
    {{/each}}
</div>