<div class="wrapper fadeInDown" id="add-product-from">
    <div id="formContent">
        <h2 class="active">Сигурни ли сте че искате да изтриете това събитие!</h2>

        <form method="post">
            <input type="text" class="fadeIn second" name="name" value="{{name}}" disabled>
            <textarea type="text" class="fadeIn third" name="description" disabled>{{description}}</textarea>
            <input type="number" class="fadeIn third" name="placesCount" value="{{placesCount}}" step="1" min="0" disabled>
            <input type="text" class="fadeIn third" name="date" value="{{formatedDate}}" disabled>
            <input type="text" class="fadeIn third" name="address" value="{{address}}" disabled>
            <input type="text" class="fadeIn third" name="town" value="{{town}}" disabled>
            <input type="submit" class="fadeIn fourth" value="Изтрий">
        </form>
    </div>
</div>