<section class="banner_area">
    <div class="banner_inner d-flex align-items-center">
        <div class="overlay bg-parallax" data-stellar-ratio="0.9" data-stellar-vertical-offset="0"
             data-background=""></div>
        <div class="container">
            <div class="banner_content text-center">
                <h2>Детайли за събитие</h2>
                <p>Заети места / Свободни места</p>
                <h3>{{occupiedPlaces}} / {{placesCount}}</h3>
                {{#if isAdmin}}
                    <a href="/event/registered/users/{{_id}}" class="btn btn-info">Регистрирани потребители</a>
                    <a href="/event/{{_id}}/send/emails" class="btn btn-success">Изпрати емейли</a>
                {{/if}}
            </div>
        </div>
    </div>
</section>
<!--================ End Home Banner Area =================-->

<!--================ Start Recent Event Area =================-->
<section class="condition-area event-details-area section_gap">
    <div class="container">
        <div class="row align-items-center justify-content-center">
            <div class="col-lg-6 col-md-8 col-sm-10">
                <div class="condition-left">
                    <img class="img-fluid" src="data:{{image.contentType}};base64,{{image.data}}" alt="Снимка за събитието">
                </div>
            </div>
            <div class="offset-lg-1 col-lg-5">
                <div class="condition-right">
                    <h2 class="mb-20">{{name}}</h2>
                    <p>{{description}}</p>
                    <ul>
                        <li>{{time}}</li>
                        <li>{{address}}</li>
                        <li>{{town}}</li>
                    </ul>
                    {{#if isAdmin}}
                        <div class="col-lg-12">
                            <a href="/event/edit/{{_id}}" class="primary_btn yellow_btn rounded">Редактирай</a>
                            <a href="/event/delete/{{_id}}" class="primary_btn">Изтрий</a>
                        </div>
                    {{/if}}
                </div>
            </div>
        </div>
    </div>
</section>
<!--================ End Recent Event Area =================-->

<!--================ Start CTA Area =================-->
<div class="cta-area section_gap overlay">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-7">
                <h1>Стани част от това събитие</h1>
                <p>Можеш да се включиш в събитието и да си запазиш място като натиснеш бутона долу.</p>
                {{#if currentUserIsRegistered}}
                    <a href="/event/unregister/{{_id}}" class="primary_btn yellow_btn rounded">Отписване</a>
                {{else}}
                    <a href="/event/register/{{_id}}" class="primary_btn yellow_btn rounded">Записване</a>
                {{/if}}
            </div>
        </div>
    </div>
</div>