<div class="wrapper fadeInDown" id="add-product-from">
    <div id="formContent">
        <h2 class="active">Редактиране на стбитие</h2>

        <form method="post" enctype="multipart/form-data">
            <input type="text" class="fadeIn second" name="name" value="{{name}}" required>
            <textarea type="text" class="fadeIn third" name="description">{{description}}</textarea>
            <input type="number" class="fadeIn third" name="placesCount" required value="{{placesCount}}" step="1" min="0">
            <input type="date" class="fadeIn third" name="date" value="{{date}}" required>
            <input type="text" class="fadeIn third" name="address" value="{{address}}" required>
            <input type="text" class="fadeIn third" name="town" value="{{town}}" required>
            <input id="file" type="file"  name="image" accept=".jpg,.jpeg,.png">
            <label for="file" class="fadeIn third">Изберете снимка</label>
            <input type="submit" class="fadeIn fourth" value="Редактирай">
        </form>
    </div>
</div>